body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #353735;
}

.navbar-inverse {
    background-color: #353735;
    border-color: #353735;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #353735;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #0098c3;
}

a, a:hover, a:focus {
    color: #0098c3;
    text-decoration: none;
}

em {
    font-style: normal;
}

a:hover, a:focus {
    color: #0098c3;
    text-decoration: underline;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0098c3;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 500;
    color: #353735;
}

h1 {
    font-size: 26pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 14pt;
}

/* Center Images */
.section > p > img:only-child {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.admonition-todo {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.bs-sidenav.affix {
    position: fixed;
    top: auto;
}

ul.current a.current {
    font-weight: bold;
}

.navbar-brand {
    padding-top: 15px;
    padding-bottom: 11px;
}

.navbar-brand-logo {
    position:relative;
    top:-2px;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

.bs-sidenav, pre {
    background-color: #EBEBED;
}

code {
    color: #0098c3;
    background-color: #EBEBED;
}

.admonition code {
    color: #888888;
    background-color: #EBEBED;
}
