name: OpenNebula Spell Check

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  spellcheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Run Spellcheck
        run: .github/scripts/spellcheck.sh
